<div class="page-container">

  <div class="device-card">
    <h2 class="section-title">Device</h2>

    <form [formGroup]="deviceForm" class="device-form" (ngSubmit)="saveDevice()">

      <div class="form-grid">

        <!-- Device Name -->
        <div class="form-row">
          <label class="form-label">Device Name <span class="required">*</span></label>
          <input type="text" formControlName="deviceName" />
        </div>

        <!-- Status -->
        <div class="form-row">
          <label class="form-label">Status <span class="required">*</span></label>
          <input type="text" placeholder="Select status..." class="mat-input-element" [matAutocomplete]="autoStatus"
            (input)="onSearch($event,'status')" [formControl]="statusInputControl" (focusout)="onFieldBlur('status')"/>
          <mat-autocomplete #autoStatus="matAutocomplete" (optionSelected)="getStatus($event)">
            <mat-option *ngFor="let s of filteredStatuses" [value]="s">
              {{ s }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['status'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- IP Address -->
        <div class="form-row">
          <label class="form-label">IP Address <span class="required">*</span></label>
          <input type="text" formControlName="ipAddress" />
          <span class="error" *ngIf="submitAttempted && f['ipAddress'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- Face -->
        <div class="form-row">
          <label class="form-label">Face <span class="required">*</span></label>
          <input type="text" placeholder="Select face..." class="mat-input-element" [matAutocomplete]="autoFace"
            (input)="onSearch($event,'face')" [formControl]="faceInputControl" (focusout)="onFieldBlur('face')"/>
          <mat-autocomplete #autoFace="matAutocomplete" (optionSelected)="getFace($event)">
            <mat-option *ngFor="let f of filteredFaces" [value]="f">
              {{ f }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['face'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- Location: fixed / pre-selected -->
        <div class="form-row">
          <label class="form-label">Location <span class="required">*</span></label>
          <input type="text" formControlName="location" readonly />
        </div>

        <!-- Building: will be fetched from api-->
        <div class="form-row">
          <label class="form-label">Building <span class="required">*</span></label>
          <input type="text" placeholder="Select building..." class="mat-input-element" [matAutocomplete]="autoBuilding"
            (input)="onSearch($event,'building')" [formControl]="buildingInputControl" (focusout)="onFieldBlur('building')"/>
          <mat-autocomplete #autoBuilding="matAutocomplete" (optionSelected)="getWings($event)">
            <mat-option *ngFor="let b of filteredBuildings" [value]="b.name">
              {{ b.name }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['building'].errors?.['required']">
            Select Building
          </span>
        </div>

        <!-- Wing: will be fetched from api-->
        <div class="form-row">
          <label class="form-label">Wing <span class="required">*</span></label>
          <input type="text"
            [placeholder]="deviceForm.value.building ? 'Select wing... ' : 'Please select building first'"
            class="mat-input-element" [matAutocomplete]="autoWing" (input)="onSearch($event,'wing')"
            [formControl]="wingInputControl" (focusout)="onFieldBlur('wing')" />
          <mat-autocomplete #autoWing="matAutocomplete" (optionSelected)="getFloors($event)">
            <mat-option *ngFor="let w of filteredWings" [value]="w.name">
              {{ w.name }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['wing'].errors?.['required']">
            Select Wing
          </span>
        </div>

        <!-- Floor: will be fetched from api-->
        <div class="form-row">
          <label class="form-label">Floor <span class="required">*</span></label>
          <input type="text" [placeholder]="deviceForm.value.wing ? 'Select floor... ' : 'Please select wing first'"
            class="mat-input-element" [matAutocomplete]="autoFloor" (input)="onSearch($event,'floor')"
            [formControl]="floorInputControl" (focusout)="onFieldBlur('floor')" />
          <mat-autocomplete #autoFloor="matAutocomplete" (optionSelected)="getDataCenters($event)">
            <mat-option *ngFor="let f of filteredFloors" [value]="f.name">
              {{ f.name }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['floor'].errors?.['required']">
            Select floor
          </span>
        </div>

        <!-- Datacentre: will be fetched from api-->
        <div class="form-row">
          <label class="form-label">Data Centre <span class="required">*</span></label>
          <input type="text"
            [placeholder]="deviceForm.value.floor ? 'Select data center... ' : 'Please select floor first'"
            class="mat-input-element" [matAutocomplete]="autoDC" (input)="onSearch($event,'datacenter')"
            [formControl]="dcInputControl" (focusout)="onFieldBlur('datacentre')" />
          <mat-autocomplete #autoDC="matAutocomplete" (optionSelected)="getRacks($event)">
            <mat-option *ngFor="let d of filteredDatacentres" [value]="d.name">
              {{ d.name }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['datacentre'].errors?.['required']">
            Select data center
          </span>
        </div>

        <!-- Rack Name: will be fetched from api-->
        <div class="form-row">
          <label class="form-label">Rack Name <span class="required">*</span></label>
          <input type="text"
            [placeholder]="deviceForm.value.datacentre ? 'Select rack... ' : 'Please select data center first'"
            class="mat-input-element" [matAutocomplete]="autoRack" (input)="onSearch($event,'rack')"
            [formControl]="rackInputControl" (focusout)="onFieldBlur('rackNo')" />
          <mat-autocomplete #autoRack="matAutocomplete" (optionSelected)="setRack($event)">
            <mat-option *ngFor="let r of filteredRacks" [value]="r.name">
              {{ r.name }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['rackNo'].errors?.['required']">
            Select rack
          </span>
        </div>

        <!-- Make: will be fetched from api-->
        <div class="form-row">
          <label class="form-label">Make <span class="required">*</span></label>
          <input type="text" placeholder="Select make..." class="mat-input-element" [matAutocomplete]="autoMake"
            (input)="onSearch($event,'make')" [formControl]="makeInputControl" (focusout)="onFieldBlur('make')"/>
          <mat-autocomplete #autoMake="matAutocomplete" (optionSelected)="getMake($event)">
            <mat-option *ngFor="let m of filteredMakes" [value]="m">
              {{ m }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['make'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- Device Type: will be fetched from api-->
        <div class="form-row">
          <label class="form-label">Device Type <span class="required">*</span></label>
          <input type="text"
            [placeholder]="deviceForm.value.make ? 'Select device type...' : 'Please select make first'"
            class="mat-input-element" [matAutocomplete]="autoDeviceType" (input)="onSearch($event,'deviceType')"
            [formControl]="deviceTypeInputControl" [disabled]="!deviceForm.value.make" (focusout)="onFieldBlur('deviceType')" />
          <mat-autocomplete #autoDeviceType="matAutocomplete" (optionSelected)="getDeviceType($event)">
            <mat-option *ngFor="let d of filteredDeviceTypes" [value]="d">
              {{ d }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['deviceType'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- Model Name: will be fetched from api-->
        <div class="form-row">
          <label class="form-label">Model Name <span class="required">*</span></label>
          <input type="text"
            [placeholder]="deviceForm.value.deviceType ? 'Select model...' : 'Please select device type first'"
            class="mat-input-element" [matAutocomplete]="autoModel" (input)="onSearch($event,'model')"
            [formControl]="modelInputControl" [disabled]="!deviceForm.value.deviceType" (focusout)="onFieldBlur('modelName')" />
          <mat-autocomplete #autoModel="matAutocomplete" (optionSelected)="getModel($event)">
            <mat-option *ngFor="let m of filteredModels" [value]="m">
              {{ m }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['modelName'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- Rack Slot (U Position) -->
        <div class="form-row">
          <label class="form-label">Rack Slot (U Position) <span class="required">*</span></label>
          <input type="number" formControlName="rackSlot" min="1" />
          <span class="error" *ngIf="submitAttempted && f['rackSlot'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- Asset Owner -->
        <div class="form-row">
          <label class="form-label">Asset Owner <span class="required">*</span></label>
          <input type="text" placeholder="Select asset owner..." class="mat-input-element" [matAutocomplete]="autoAssetOwner"
            (input)="onSearch($event,'assetOwner')" [formControl]="assetOwnerInputControl" (focusout)="onFieldBlur('assetOwner')"/>
          <mat-autocomplete #autoAssetOwner="matAutocomplete" (optionSelected)="getAssetOwner($event)">
            <mat-option *ngFor="let a of filteredAssetOwners" [value]="a">
              {{ a }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['assetOwner'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- Asset User -->
        <div class="form-row">
          <label class="form-label">Asset User <span class="required">*</span></label>
          <input type="text" placeholder="Select asset user..." class="mat-input-element" [matAutocomplete]="autoAssetUser"
            (input)="onSearch($event,'assetUser')" [formControl]="assetUserInputControl" (focusout)="onFieldBlur('assetUser')"/>
          <mat-autocomplete #autoAssetUser="matAutocomplete" (optionSelected)="getAssetUserSelection($event)">
            <mat-option *ngFor="let v of filteredAssetUsers" [value]="v">
              {{ v }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['assetUser'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>
        
        <!-- Application -->
        <div class="form-row">
          <label class="form-label">Application <span class="required">*</span></label>
          <input type="text" placeholder="Select application..." class="mat-input-element" [matAutocomplete]="autoApplication"
            (input)="onSearch($event,'application')" [formControl]="applicationInputControl" (focusout)="onFieldBlur('applicationName')"/>
          <mat-autocomplete #autoApplication="matAutocomplete" (optionSelected)="getApplication($event)">
            <mat-option *ngFor="let a of filteredApplicationNames" [value]="a">
              {{ a }}
            </mat-option>
          </mat-autocomplete>
          <span class="error" *ngIf="submitAttempted && f['applicationName'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- Serial Number -->
        <div class="form-row">
          <label class="form-label">Serial Number <span class="required">*</span></label>
          <input type="text" formControlName="serialNumber" />
          <span class="error" *ngIf="submitAttempted && f['serialNumber'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- PO Number -->
        <div class="form-row">
          <label class="form-label">PO Number <span class="required">*</span></label>
          <input type="text" formControlName="poNumber" />
          <span class="error" *ngIf="submitAttempted && f['poNumber'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- Warranty Start -->
        <div class="form-row">
          <label class="form-label">Warranty Start <span class="required">*</span></label>
          <input type="date" formControlName="warrantyStartDate" />
          <span class="error" *ngIf="submitAttempted && f['warrantyStartDate'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- Warranty End -->
        <div class="form-row">
          <label class="form-label">Warranty End <span class="required">*</span></label>
          <input type="date" formControlName="warrantyEndDate" />
          <span class="error" *ngIf="submitAttempted && f['warrantyEndDate'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- AMC Start -->
        <div class="form-row">
          <label class="form-label">AMC Start <span class="required">*</span></label>
          <input type="date" formControlName="amcStartDate" />
          <span class="error" *ngIf="submitAttempted && f['amcStartDate'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- AMC End -->
        <div class="form-row">
          <label class="form-label">AMC End <span class="required">*</span></label>
          <input type="date" formControlName="amcEndDate" />
          <span class="error" *ngIf="submitAttempted && f['amcEndDate'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

        <!-- Description -->
        <div class="form-row form-col-1">
          <label class="form-label">Description <span class="required">*</span></label>
          <textarea rows="2" formControlName="description"></textarea>
          <span class="error" *ngIf="submitAttempted && f['description'].errors?.['required']">
            This field needs to be selected
          </span>
        </div>

      </div>

      <div class="btn-row">
        <button mat-stroked-button type="button" class="reset-btn" (click)="resetForm()">Reset</button>
        <button mat-flat-button color="primary">
          {{ editData ? 'Update' : 'Save' }}
        </button>
        <button mat-flat-button color="accent" *ngIf="!editData" type="button" (click)="saveAndAddAnother()">
          Save & Add Another
        </button>
      </div>


    </form>
  </div>
</div>
